{#
/**
 * @file assembly.html.twig
 * Default theme implementation to present Assembly data.
 *
 * This template is used when viewing Assembly pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_assembly()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('assembly billboard') }}>
  <div class="container">
    {% if content.field_image_background|render %}
      <div class="background" style="background-image: url({{ file_url(content.field_image_background['#items'].entity.uri.value) }}); background-position: {{ focal_point.x }}% {{ focal_point.y }}%;"></div>
    {% endif %}
    <div class="billboard-content">
      {% if content|without('field_image_background')|render %}
      <div class="billboard-content-inner">
        <div class="container">
          {% if content.field_headline %}
            <p class="headline h2">{{ content.field_headline }}</p>
          {% endif %}
          {% if content %}
            {{- content|without('field_image_background', 'field_headline') -}}
          {% endif %}
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>
