{#
/**
 * @file assembly.html.twig
 * Default theme implementation to present Assembly data.
 *
 * This template is used when viewing Assembly pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_assembly()
 *
 * @ingroup themeable
 */
#}

{% set left = content.field_title|render or content.field_content|render ? TRUE : FALSE %}
{% set right = content.field_aside|render ? TRUE : FALSE %}

<div{{ attributes.addClass('assembly') }}>
  {{ title_suffix }}
  <div class="container">
    {% if left and right %}
    <div class="row">
      <div class="col-sm-8">
    {% endif %}

    {{ content.field_title }}

    {% if content %}
      {{- content|without('field_aside', 'field_title', 'field_background_image') -}}
    {% endif %}

    {% if left and right %}
      </div>
      <aside class="col-sm-4">
    {% endif %}
        {{ content.field_aside }}
    {% if left and right %}
      </aside>
    </div>
    {% endif %}

  </div>
</div>
