{#
/**
 * @file assembly.html.twig
 * Default theme implementation to present Assembly data.
 *
 * This template is used when viewing Assembly pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_assembly()
 *
 * @ingroup themeable
 */
#}

{{ attach_library('alloy_assemblies/slick') }}
<div{{ attributes.addClass('assembly assembly-photo-gallery') }}>
  <div class="container">
    {% if content %}
      {{- content|without('field_images', 'field_images_nav') -}}
    {% endif %}

    <div class="slider-for">
    {{ content.field_images }}
    </div>
    <div class="slider-divider">
    </div>
    <div class="slider-nav">
    {{ content.field_images_nav }}
    </div>

  </div>
</div>
